*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    text-transform:none;
    text-decoration: none;
    font-weight: 400;
    cursor: crosshair;
}

html, body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: blue;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25svh;
    /*background-color: red;*/
    z-index: 2;
}

header {
    position: relative;
    width: 100%;
    height: 90svh;
    padding-left: 2rem;
}

header h1{
    position: relative;
    font-size: 3rem;
    font-family: serif;
    z-index: 3;
}

img {
    width: 50%;
    height: auto;
    top: 5rem;
}

#floating-textbox {
    position: sticky;
    display: inline-block;
    z-index: 3;
    padding: 1rem;
}

.chill-div {
    height: 100svh;
}

#myDivContainer{
    color: black;
}


.info h1 {
    font-size: 10svw;
}

a:hover {
    color: red;
}

a:visited {
    color: blue;
}

a, a:hover, a:visited, a:active {
    cursor: cell;
    text-decoration: none;
  }


  @media only screen and (max-device-width: 768px) {
    canvas {
        font-size: 1rem;
    }

    .info h1 {
        font-size: 4svh;
    }

    img {
        width: 85%;
        height: 500px;
        top: 5svh;
    }

    .chill-div {
        height: 75svh;
    }
}