* {
    box-sizing: border-box;
    margin: 0;
}

.grid {
    /* This is the border of your grid, commit or omit as needed.
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    */
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    'head . . .'
    '. .  . .'
    '. img img .'
    '. img img .'
    '. . . .'
    '. para para .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. foot foot .';
}

.head {
    grid-area: head;
}

.body {
    grid-area: para;
}

.img {
    grid-area: img;
}

img {
    width: 100%;
    height: auto;
}

.footer {
    grid-area: foot;
}