*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  text-transform:none;
  text-decoration: none;
  font-weight: 400;
  cursor: crosshair;
}

html, body {
  padding: 1rem;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
  display: inline-block;
  margin-right: 10rem;
  height: 99svh;
}

/*pre {
font-size: .5rem;
width: fit-content;
height: fit-content;
}*/

.body {
  position: absolute;
}

.paranav {
  position:relative;
  top: 2rem;
}

p {
  width: 10svw;
  margin-bottom: 1rem;
}

nav {
  width: 10svw;
  margin-bottom: 1rem;
}

.index {
position: relative;
top: 48svh;
  font-size: 1rem;
}

.index h1 {
  font-size: 1rem;
}

.footer {
  position: relative;
top: 48svh;
}