*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  text-transform:none;
  text-decoration: none;
  font-weight: 400;
  cursor: crosshair;
}

html, body {
  padding: 1rem;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
  display: inline-block;
  margin-right: 10rem;
  height: 99svh;
  width: 80svw;
}

/*pre {
font-size: .5rem;
width: fit-content;
height: fit-content;
}*/

.body {
  position: absolute;
}

.paranav {
  position:relative;
  top: 2rem;
}

p {
  width: 10svw;
  margin-bottom: 1rem;
}

nav {
  width: 10svw;
  margin-bottom: 1rem;
}

.index {
position: absolute;
top: 89svh;
left: 80svw;
  font-size: 1rem;
}

.index h1 {
  font-size: 1rem;
}

.footer {
  position: absolute;
top: 83svh;
}

@media only screen and (max-device-width: 750px) {
        html, body {
          height: 60svh;
          width: 50svw;
        }

        p {
          width: 75%;
        }

        nav {
          width: 75%;
        }

        .index {
          top: 75svh;
          left: 75svw;
        }

        .footer {
          top: 75svh;
        }
}