* {
    box-sizing: border-box;
    margin: 0;
    cursor: crosshair;
}

body {
    text-align: center;
    /*
    background-image: url(../imgs/numogram.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    */
    color: #ff0000;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 5fr 1fr 1fr;
    grid-template-areas:
        'fill1 fill2 fill3'
        'fill4 clock fill5'
        'fill6 wrap fill8'
        '. newstring .'
        '. credit .';
}

.clock {
    padding: 1rem;
    grid-area: clock;
    font-size: 13.9rem;
    font-family: 'SuisseBook';
    margin: auto;
}

.wrap {
    grid-area: wrap;
    display: table;
    padding: 2rem;
    margin: 4rem;
    margin-bottom: 0.25rem;
    text-align: center;
    font-family: 'SuisseBook';
}
#title {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .9em;

}
#subtitle {
    margin-top: .75em;
    font-weight: 300;
    font-size: 25px;
    font-family: 'SuisseLight';
}

#btnRefresh {
    font-family: 'SuisseLight';
    background-color: white;
    color: inherit;
    border: none;
    border-width: 5rem;
}

.newstring {
    grid-area: newstring;
}

.newstring:hover {
    cursor: cell;
}

.credit {
    grid-area: credit;
    font-family: 'SuisseLight';
    font-size: 1rem;
    margin: 1rem 0;
}

.fill1 {
    grid-area: fill1;
}

.fill2 {
    grid-area: fill2;
}

.fill3 {
    grid-area: fill3;
}

.fill4 {
    grid-area: fill4;
}

.fill5 {
    grid-area: fill5;
}

.fill6 {
    grid-area: fill6;
}

.fill7 {
    grid-area: fill7;
}

.fill8 {
    grid-area: fill8;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    cursor: cell;
  }


@font-face {
    font-family: "SuisseBook";
    src: url(../fonts/SuisseIntl-Book.otf);
}

@font-face {
    font-family: "SuisseLight";
    src: url(../fonts/SuisseIntl-Light.otf);
  }