* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "IBMPlexSansText";
  color: white;
}

body {
  animation: 10000ms infinite ease-in-out color-change2;
}

.grid {
  /* This is the border of your grid, commit or omit as needed.
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    */
  width: 100vw;
  height: 200vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'head cont cont fill1'
    'fill7 fill6 fill9 fill8'
    /* This line can have content added to it, until then it will not take up space on the page */
    'fill2 para para fill3'
    'fill4 foot foot fill5';
}

.head {
  /* Because the content box is placed on the same line as this the head box will expand to the area that cont takes up.
    This is the same for anything place alongside content that may be larger than itself.*/
  display: grid;
  width: 17.5vw;
  height: 27vh;
  /* Subgrid Rules Begin */
  grid-template-columns: repeat(4, .25fr);
  grid-template-rows: repeat(4, .25fr);
  grid-template-areas:
    'brick1 . brick3 .'
    '. brick2 . brick4'
    'brick5 . brick7 .'
    '. brick6 . brick8';
  /* Subgrid Rules End */
  padding: 1rem;
  grid-area: head;
  background-color: rgb(211, 211, 211);
  font-size: 3rem;
  font-family: "AkzidenzGroteskRegular";
  transform: scaleY(2) translateY(1rem) translateX(4rem) translateZ(1rem) skewY(35deg);
  filter: blur(1rem);
  z-index: 2;
  opacity: .8;
}

.brick1 {
  grid-area: brick1;
  background-color: #7c7c7c;
  filter: blur(1rem);
}

.brick2 {
  grid-area: brick2;
  background: #949494;
  filter: blur(1rem);
}

.brick3 {
  grid-area: brick3;
  background-color: #c5c5c5;
  filter: blur(1rem);
}

.brick4 {
  grid-area: brick4;
  background-color: #5e5e5e;
  filter: blur(1rem);
}

.brick5 {
  grid-area: brick5;
  background-color: #cacaca;
  filter: blur(1rem);
}

.brick6 {
  grid-area: brick6;
  background-color: #414141;
  filter: blur(1rem);
}

.brick7 {
  grid-area: brick7;
  background-color: #bebebe;
  filter: blur(1rem);
}

.brick8 {
  grid-area: brick8;
  background-color: #949494;
  filter: blur(1rem);
}



#header {
  font-size: 4rem
}

nav {
  font-family: "IBMPlexSansText";
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
  margin-right: 8rem;
}

.para {
  padding: 1rem;
  grid-area: para;
  background-color: rgb(234, 255, 0);
  /*
    grid-column: 4 / 2;
    grid-row: 5 / 3; */
  font-size: 3rem;
}

.content {
  padding: 1rem;
  grid-area: cont;
  color: white;
  background-color: rgb(255, 0, 0);
  /*
    grid-column: 4 / 2;
    grid-row: 3 / 1; */
  font-size: 3rem;
  transform: skew(-30deg) translateX(-3.7rem);
  z-index: 1;
}

.footer {
  padding: 1rem;
  grid-area: foot;
  background-color: rgb(185, 22, 111);
  color: white;
  font-size: 3rem;
}

/* These are open sections of the grid that can be used. Remove this symbol to comment out these fills ---> */

.fill1 {
  grid-area: fill1;
  background-color: rgb(85, 42, 165);
  transform: skew(30deg) translateX(-7.3rem);
  overflow: hidden;
  z-index: 1;
}

.fill2 {
  display: grid;
  width: 17.5vw;
  height: 27vh;
  /* Subgrid Rules Begin */
  grid-template-columns: repeat(4, .25fr);
  grid-template-rows: repeat(4, .25fr);
  grid-template-areas:
    'brick1 . brick3 .'
    '. brick2 . brick4'
    'brick5 . brick7 .'
    '. brick6 . brick8';
  /* Subgrid Rules End */
  grid-area: fill2;
  background-color: #5ba8e8;
  transform: scaleY(2) translateY(3.5rem) translateX(5.9rem) translateZ(1rem);
}

.fill3 {
  width: 17.5vw;
  height: 27vh;
  grid-area: fill3;
  background-color: #2b6bbe;
  transform: scaleY(1.8) translateY(3rem);
  z-index: 1;
}

.fill4 {
  display: grid;
  width: 17.5vw;
  height: 27vh;
  /* Subgrid Rules Begin */
  grid-template-columns: repeat(4, .25fr);
  grid-template-rows: repeat(4, .25fr);
  grid-template-areas:
    'brick1 . brick3 .'
    '. brick2 . brick4'
    'brick5 . brick7 .'
    '. brick6 . brick8';
  /* Subgrid Rules End */
  grid-area: fill4;
  background-color: #4862e6;
  transform: scaleY(1.71) translateY(3.5rem) translateX(5.9rem) translateZ(1rem);
}

.fill5 {
  display: grid;
  width: 17.5vw;
  height: 27vh;
  /* Subgrid Rules Begin */
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'brick1 . brick3 .'
    '. brick2-1 . brick4'
    'brick5 . brick7 .'
    '. brick6 . brick8';
  /* Subgrid Rules End */
  grid-area: fill5;
  background-color: #c681ff;
  transform: scaleY(1.8) translateY(3rem) translateZ(1rem);
}

.brick2-1 {
  grid-area: brick2-1;
  border-style: solid;
  border-color: #24e86f;
  padding: .5rem;
  display: grid;
  /* Subgrid Rules Begin */
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 10% 10% 10% 10% 10%;
  grid-template-areas:
    'win1 win2 win3 win4'
    '. brick2-1 . brick4'
    'brick5 . brick7 .'
    '. brick6 . dh'
    '. . . .'
    '. . . .';
  /* Subgrid Rules End */
}

.door-window1 {
  grid-area: win1;
  border: solid;
  border-color: #f6464a;
  border-width: .1rem;
  animation: 10000ms infinite ease-in-out color-change;
}

.door-window2 {
  grid-area: win2;
  border: solid;
  border-color: #168ec6;
  border-width: .1rem;
  animation: 10000ms infinite ease-in-out color-change;
}

.door-window3 {
  grid-area: win3;
  border: solid;
  border-color: #f646dc;
  border-width: .1rem;
  animation: 10000ms infinite ease-in-out color-change;
}

.door-window4 {
  grid-area: win4;
  border: solid;
  border-color: #dcf646;
  border-width: .1rem;
  animation: 10000ms infinite ease-in-out color-change;
}

.door-handle {
  grid-area: dh;
  background-color: #2828d1;
  margin-left: .3rem;
  margin-right: .3rem;
}

.fill6 {
  grid-area: fill6;
  background-color: #2828d1;
}

.fill7 {
  display: grid;
  width: 17.5vw;
  height: 27vh;
  /* Subgrid Rules Begin */
  grid-template-columns: repeat(4, .25fr);
  grid-template-rows: repeat(4, .25fr);
  grid-template-areas:
    'brick1 . brick3 .'
    '. brick2 . brick4'
    'brick5 . brick7 .'
    '. brick6 . brick8';
  /* Subgrid Rules End */
  z-index: 3;
  grid-area: fill7;
  background-color: #ff3c00;
  transform: scaleY(3) translateY(2rem) translateX(5.9rem) translateZ(1rem);
}

.fill8 {
  width: 17.5vw;
  height: 27vh;
  grid-area: fill8;
  background-color: #f6464a;
  transform: scaleY(1.8) translateY(3rem) translateZ(1rem);
}

.fill9 {
  grid-area: fill9;
  background: rgb(255, 139, 0);
  background: linear-gradient(180deg, rgb(255, 0, 0) 28.68%, rgba(36, 232, 111, 1) 1%);
  /* Start subgrid for window */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'window1 window2'
    'window3 window4';
  /* End subgrid for window */
  padding: 3rem;
  padding-top: 10.5rem;
  transform: scaleY(1.4) translateY(-3.6rem);
}

.window1 {
  grid-area: window1;
  border-color: #414141;
  border-style: solid;
  border-width: .25rem;
  /*background-image: url(../imgs/seth-and-jame-walking.gif);*/
  animation: 10000ms infinite ease-in-out color-change;
  background-size: 200%;
  background-position: center left;
}

.window2 {
  grid-area: window2;
  border-color: #414141;
  border-style: solid;
  border-width: .25rem;
  /*background-image: url(../imgs/seth-and-jame-walking.gif)*/
  animation: 10000ms infinite ease-in-out color-change;
  background-size: 200%;
  background-position: center right;
}

.window3 {
  grid-area: window3;
  border-color: #414141;
  border-style: solid;
  border-width: .25rem;
  /*background-image: url(../imgs/seth-and-jame-walking.gif);*/
  animation: 10000ms infinite ease-in-out color-change;
  background-size: 200%;
  background-position: bottom left;
}

.window4 {
  grid-area: window4;
  border-color: #414141;
  border-style: solid;
  border-width: .25rem;
  /*background-image: url(../imgs/seth-and-jame-walking.gif);*/
  background-color: #24e86f;
  animation: 10000ms infinite ease-in-out color-change;
  background-size: 200%;
  background-position: bottom right;
}

@keyframes color-change {
  0% {
    background-color: #4df2f2;
  }

  20% {
    background-color: rgb(255, 251, 33);
  }

  40% {
    background-color: rgb(48, 227, 60);
  }

  60% {
    background-color: rgb(240, 71, 240);
  }

  80% {
    background-color: rgb(62, 42, 241);
  }

  100% {
    background-color: #4df2f2;
  }
}

@keyframes color-change2 {
  0% {
    background-color: rgb(255, 255, 255);
  }

  20% {
    background-color: rgb(146, 146, 146);
  }

  40% {
    background-color: rgb(89, 89, 89);
  }

  60% {
    background-color: rgb(0, 0, 0);
  }

  80% {
    background-color: rgb(86, 86, 86);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}


/* Link Styling */

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  display: inline;
}

a:hover {
  color: #61e244;
}

/* Fonts */

@font-face {
  font-family: "AkzidenzGroteskRegular";
  src: url(../fonts/AkzidenzGroteskBE-Regular.otf);
}

@font-face {
  font-family: "AkzidenzGroteskBold";
  src: url(../fonts/AkzidenzGroteskBE-Bold.otf);
}

@font-face {
  font-family: "IBMPlexSansText";
  src: url(../fonts/IBMPlexSans-Text.otf);
}

@font-face {
  font-family: "IBMPlexMono";
  src: url(../fonts/IBMPlexMono-Regular.otf);
}

/* 
  __  __ _____  _      __  __                   
 |  \/  |_   _|/ \    |  \/  | ___  _ __   ___  
 | |\/| | | | / _ \   | |\/| |/ _ \| '_ \ / _ \ 
 | |  | | | |/ ___ \  | |  | | (_) | | | | (_) |
 |_|  |_| |_/_/   \_\ |_|  |_|\___/|_| |_|\___/ 
                                                
*/