html {
  height: 100%;
}

body {
  font-family: "IBMPlexSansText";
  color: #1d1d1d;
  background-color: #efefef;
  min-height: 100vh;
  min-width: 100vh;
  max-width: 1920px;
  max-height: 1080px;
  margin-left: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: center;
}

.header {
  font-family: "AkzidenzGroteskBold";
  font-size: 1.5em;
  letter-spacing: -5px;
  width: 20%;
}

button {
  width: 60px;
  height: 50px;
  display: inline-block;
  color: #1d1d1d;
  background-color: #efefef;
  font-family: "AkzidenzGroteskRegular";
}

pre {
  width: 50%;
  margin: auto;
}

nav {
  font-family: "IBMPlexSansText";
line-height: 1.2em;
font-size: 1.2em;
width: 50%;
height: 20%;
margin-bottom: 2rem;
}

.navigation {
  width: 20%;
}

nav a {
  width: 20%;
  height: 20%;
}

.paragraph {
  font-family: "IBMPlexSansText";
  line-height: 1.2em;
  font-size: 1rem;
  width: 50%;
  margin-right: 20rem;
}

p {
  max-width: 100%;
  max-height: 100%;
line-height: 1.2rem;
margin-top: 0;
}

img {
  width: 10%;
  height: 10%;
  margin: .125rem .125rem;
  flex-grow: 0;
}

img:hover {
  width: 25%;
  height: 25%;
}

video:hover {
  width: 30%;
  height: 30%;
}

video {
  width: 20%;
  height: 20%;
}

.alternateStyle {
  margin-right: 57rem;
  margin-bottom: 0.5rem;
  width: 20%;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}


/* Style for draggable image script, this effects the mouse pointer*/

.draggable:hover {
  cursor: move;
  cursor: -moz-move;
  cursor: -webkit-move;
  z-index: 1;
}

/* Fonts */

@font-face {
  font-family: "AkzidenzGroteskRegular";
  src: url(../fonts/AkzidenzGroteskBE-Regular.otf);
}

@font-face {
  font-family: "AkzidenzGroteskBold";
  src: url(../fonts/AkzidenzGroteskBE-Bold.otf);
}

@font-face {
  font-family: "IBMPlexSansText";
  src: url(../fonts/IBMPlexSans-Text.otf);
}