body {
    font-family: 'Arial Regular', sans-serif;
    color: #2353ff;
    background-color: #f7f7f7;
  }
  
  .header {
    font-family: 'Arial Bold', sans-serif;
    font-size: 1.5em;
    letter-spacing: -5px;
    margin-right: 25em;
    margin-left: 2rem;
    width: 200px;
  }
  
  .paragraph {
    font-family: 'Helvetica', sans-serif;
    margin-right: 75em;
    margin-left: 2rem;
    line-height: 1.2em;
    font-size: 0.8em;
    width: auto;
  }
  
  nav {
    font-family: 'Helvetica', sans-serif;
    margin-right: 75em;
    margin-left: 2rem;
    line-height: 1.2em;
    font-size: 1.2em;
    padding-top: 2em;
    width: 60px;
  }
  
  nav a {
    display: inline;
  }

li {
    list-style-type: none;
}

  img {
    width: 20%;
    height: auto;
  }
  
  a, a:hover, a:visited, a:active  {
    text-decoration: none;
    color: inherit;
  }
  