* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  cursor: crosshair;
  z-index: 1;
}

html,
body {
  font-family: sans-serif;
  background-color: #efefef;
  color: black;
  display: inline-block;
  height: auto;
  width: 100%;
}

body {
  padding: 1rem 1rem 1rem 1rem;
}

#floating-textbox {
  position: sticky;
  display: inline-block;
}

header {
  position: relative;
  padding: 0 0 1rem 0;
}

#body {
  position: relative;
}

.paragraph {
  position: relative;
}

p {
  width: 10svw;
  margin-bottom: 1rem;
}

a {
  width: 10svw;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

img {
  opacity: 0.0;
  width: 100px;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 40px;
  transition: opacity 0.7s linear;
  object-fit: cover;
}

img:hover {
  opacity: 100;
  transition: 0.7s linear;
  z-index: 2;
}

button {
  z-index: 3;
  position: sticky;
  top: 35svh;
  background-color: black;
  color: white;
  border: 0;
}

button:hover {
  cursor: cell;
}

button:active~img {
  opacity: 100;
  transition: opacity 0.7s ease-in-out;
  z-index: 1;
}

.image {
  display: none;
}

.name {
  padding: 1rem;
  background-color: black;
  color: white;
}

a:hover {
  cursor: -moz-grabbing;
}

#header {
  font-size: 4rem;
  font-weight: 600;
  color: black;
  position: relative;
  width: 50svw;
}

#exercise {
  font-size: .75rem;
  font-weight: 100;
  position: relative;
  width: 25svw;
}

#main {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  position: relative;
  width: 40svw;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  height: 90%;
  width: 100%;
}

#text-container {
  display: grid;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  aspect-ratio: 1; /* Maintain square aspect ratio */
  grid-template-columns: repeat(6, 1fr); /* 5 columns */
  grid-template-rows: repeat(6, 1fr); /* 5 rows */
  grid-template-areas:
    ". 1 2 3 4 ."
    ". 5 6 7 8 ."
    ". 9 10 11 12 ."
    ". 13 14 15 16 ."
    ". 17 18 19 20 ."
    ". 21 22 23 24 ."
    ". 25 . . . .";
    place-items: center;
}

#image-container {
  display: grid;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  aspect-ratio: 1; /* Maintain square aspect ratio */
  grid-template-columns: repeat(6, 1fr); /* 5 columns */
  grid-template-rows: repeat(6, 1fr); /* 5 rows */
  grid-template-areas:
    ". 1 2 3 4 ."
    ". 5 6 7 8 ."
    ". 9 10 11 12 ."
    ". 13 14 15 16 ."
    ". 17 18 19 20 ."
    ". 21 22 23 24 ."
    ". 25 . . . .";
    place-items: center;
}

#bm, #jd, #ml, #ll, #db, #og, #mj, #dsr, #arc, #ae, #me, #rte, #akp, #ii, #gb, #sh, #ne, #ag, #iag, #v, #th, #k, #lz, #lzf, #sth {
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;
}

#text-container {
  z-index: 0;
}

#image-container {
  z-index: 1;
}

canvas {
  display: grid;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}

.index {
  position: relative;
  font-size: 1rem;
}

.index h1 {
  font-size: 1rem;
}

.footer {
  position: relative;
}

@media only screen and (max-device-width: 750px) {

  html,
  body {
    height: 60svh;
    width: 50svw;
  }

  p {
    width: 75%;
  }

  nav {
    width: 75%;
  }

  canvas {
    width: 85%;
    height: 50%;
    position: absolute;
    top: 30svh;
  }

  .index {
    position: absolute;
    top: 84svh;
    left: 70svw;
  }

  .footer {
    position: absolute;
    top: 80svh;
  }
}
