* {
    padding: 0;
    box-sizing: border-box;
    font-family: "IBMPlexSansText";
    font-weight: 200;
    letter-spacing: -0.025em;
    text-align: center;
    text-decoration: none;
    color: #61e244;
}

html, body {
    background-color: #161616;
    color: white;
}

header {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

p {
    font-size: clamp(10px, 2vw, 25px);
}

.content {
  margin-top: 15rem;
}

#content {
  width: 25rem;
  margin: auto;
}

#warning {
    font-family: "IBMPlexMono";
    font-size: clamp(1rem,2.75rem,4rem);
    margin-bottom: 1rem;
    letter-spacing: 5px;
}

#discretion {
  font-family: "AkzidenzGroteskBold";
  font-size: clamp(.75rem,1.5rem,2.25rem);
  letter-spacing: .1rem;
}

#continue {
  margin-top: 3rem;
  margin-bottom: 1.75rem;
  font-size: clamp(.5rem,1.25rem,1.75rem);
}

.no-box {
    display: inline;
    margin: 2rem 2rem;
    padding: 1rem;
    border: #61e244;
    border-width: clamp(.01rem,2px,3px);
    border-style: solid;
}

.yes-box {
    display: inline;
    margin: 2rem 2rem;
    padding: 1rem;
    border: #61e244;
    border-width: clamp(.01rem,2px,3px);
    border-style: solid;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
  }

/* Fonts */

@font-face {
    font-family: "AkzidenzGroteskRegular";
    src: url(../fonts/AkzidenzGroteskBE-Regular.otf);
  }
  
  @font-face {
    font-family: "AkzidenzGroteskBold";
    src: url(../fonts/AkzidenzGroteskBE-Bold.otf);
  }
  
  @font-face {
    font-family: "IBMPlexSansText";
    src: url(../fonts/IBMPlexSans-Text.otf);
  }
  
  @font-face {
    font-family: "IBMPlexMono";
    src: url(../fonts/IBMPlexMono-Regular.otf);
  }