* {
    padding: 0;
    box-sizing: border-box;
    font-family: "IBMPlexSansText";
    font-weight: 200;
    letter-spacing: -0.025em;
    text-align: center;
    text-decoration: none;
}

html, body {
    background-color: #161616;
    color: white;
}

header {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

p {
    font-size: clamp(10px, 2vw, 25px)
}

#warning {
    font-family: "IBMPlexMono";
    margin-bottom: 1rem;
}

#continue {
  margin-bottom: 3rem;
}

.no-box {
    display: inline;
    margin: 2rem 2rem;
    padding: 1rem;
    border: white;
    border-width: 2px;
    border-style: solid;
}

.yes-box {
    display: inline;
    margin: 2rem 2rem;
    padding: 1rem;
    border: white;
    border-width: 2px;
    border-style: solid;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
  }

/* Fonts */

@font-face {
    font-family: "AkzidenzGroteskRegular";
    src: url(../fonts/AkzidenzGroteskBE-Regular.otf);
  }
  
  @font-face {
    font-family: "AkzidenzGroteskBold";
    src: url(../fonts/AkzidenzGroteskBE-Bold.otf);
  }
  
  @font-face {
    font-family: "IBMPlexSansText";
    src: url(../fonts/IBMPlexSans-Text.otf);
  }
  
  @font-face {
    font-family: "IBMPlexMono";
    src: url(../fonts/IBMPlexMono-Regular.otf);
  }