* {
    box-sizing: border-box;
    margin: 0;
    cursor: crosshair;
}

body {
    margin: 0rem 1rem 2rem;
    /*
    background-image: url(../imgs/numogram.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    */
    color: #858585;
    font-family: 'SuisseBook';
    background-color: rgb(236, 236, 236);
}

img {
max-width: 100%;
max-height: 100%;
width: 90%;
height: auto;
filter: drop-shadow(rgb(29, 29, 29).25rem .25rem 1rem);
}

img:hover {
    opacity: .7;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    font-size: 1vw;
    -moz-column-count: 3;
    -moz-column-gap: 2vw;
    -webkit-column-count: 3;
    -webkit-column-gap: 2vw;
    column-count: 3;
    column-gap: 2vw;
    font-family: 'SuisseRegular';
}

.header {
    font-size: 12.5vw;
}

.tracklist {
    font-size: 1.25vw;
    font-family: inherit;
}

.button {
    font-family: 'SuisseBook';
    color: inherit;
    background-color: inherit;
    border: none;
    margin: 1rem auto;
    border-width: 1rem;
    font-size: 1.5vw;
}

#btnRefresh {
    font-family: 'SuisseBook';
    background-color: inherit;
    color: inherit;
    border: none;
    border-width: 2rem;
    margin: 2rem auto;
    font-size: 1vw;
}

#myDivContainer {
    font-size: 1.25vw;
    margin-right: 15vw;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    cursor: cell;
  }

@font-face {
    font-family: "SuisseRegular";
    src: url(../fonts/SuisseIntl-Regular.otf);
}

@font-face {
    font-family: "ArizonaFlareThin";
    src: url(../fonts/ABCArizonaFlare-Thin-Trial.otf);
}

@font-face {
    font-family: "SuisseBook";
    src: url(../fonts/SuisseIntl-Book.otf);
  }