* {
    background-image: linear-gradient(to bottom right, rgba(255,0,0,1), rgba(255,0,0,0));
    color: #ffffff;
    margin: 2rem;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "IBMPlexSansText";
    background-image: linear-gradient(to top right, rgb(0, 0, 0), rgba(255,0,0,0));

}

.grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'head . . .'
    '. para para vid'
    '. neg neg .'
    '. space space .'
    '. foot foot .';
}

ul {
  list-style: none;
}

h1 {
    margin: 0;
}

.index {
  position: absolute;
  top: 735svh;
  left: 85svw;
    font-size: 1rem;
  }
  
  .index h1 {
    font-size: 1rem;
  }

.header {
font-family: "AkzidenzGroteskRegular";
grid-area: head;
margin: 0;
}

nav {
    font-family: "IBMPlexSansText";
    margin: 0;
    margin-top: 1rem;
    margin-right: 8rem;
}

pre {
    width: 50%;
    margin-left: 0;
    font-family: "IBMPlexMono";
    font-size: 0.8rem;
    float: inline-end;
  }

#body-copy {
    margin: 0;
    margin-top: 1rem;
}

.paragraph {
grid-area: para;
margin: 0;
font-size: 1rem;
}

video {
    margin: 0;
}

#video-container {
grid-area: vid;
margin: 0;
width: 100%;
height: auto;
object-fit: cover;
position: sticky;
top: 5%;
margin-bottom: 10rem;
}

#video {
  width: 100%;
  height: auto;
}

#video:hover {
transform: scale(2) translateX(-5.25rem) translateY(4.2rem);
}

#vidcaption {
grid-area: vid;
margin: 0;
width: 100%;
height: auto;
object-fit: cover;
font-size: .65rem;
}

a {
    margin: 0;
}

.footer {
  float: left;
  font-size: 1rem;
  color: #1d1d1d;
  background-color: rgba(239, 239, 239, 0.4);
  margin: 0;
  grid-area: foot;
}

/* Experiments with gradient and image overlays section */

.space {
  padding-top: 150rem;
  padding-bottom: 25rem;
  margin: 0;
  grid-area: space;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(38, 0, 255), rgba(0,234,43,0.5), rgba(255, 255, 255, 0.9), rgb(160, 243, 104), rgb(255, 104, 197), rgba(0, 255, 38, 0));
}

#img {
  width: 49.5%;
  height: auto;
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin: 0;
  font-size: 1rem;
}

figure {
  background-image: linear-gradient(180deg, rgb(38, 0, 255), rgba(0,234,43,0.5), rgba(255, 255, 255, 0.9), rgb(160, 243, 104), rgb(255, 104, 197), rgba(0, 255, 38, 0));
  margin: 0;
}

#img:hover, #img:active {
  width: 60%;
  height: auto;
}

#negative-margins {
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 5rem;
  grid-area: neg;
  width: 100%;
  margin: 0;
}

/* Scrolling Text Animation */

#scroll-frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-left: 0;
}

#scroll-text {
  animation: scroll 10s linear infinite;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin: 0;
  word-break:  break-all;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* Link Styling */

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    display: inline;
  }
  
  a:hover {
    color: #61e244;
  }

/* Fonts */

@font-face {
    font-family: "AkzidenzGroteskRegular";
    src: url(../fonts/AkzidenzGroteskBE-Regular.otf);
  }
  
  @font-face {
    font-family: "AkzidenzGroteskBold";
    src: url(../fonts/AkzidenzGroteskBE-Bold.otf);
  }
  
  @font-face {
    font-family: "IBMPlexSansText";
    src: url(../fonts/IBMPlexSans-Text.otf);
  }
  
  @font-face {
    font-family: "IBMPlexMono";
    src: url(../fonts/IBMPlexMono-Regular.otf);
  }