html {
    height: 100%;
  }

  * {
  margin: 1rem;
  padding: clamp(1px, 3px, 5px);
  }

body {
    color: #212121;
    background-color: white;
    min-height: 100vh;
    min-width: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    font-family: "IBMPlexSansText"
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    grid-template-columns: 30% 70%;
    grid-template-areas:
    'head . . . .'
    'head2 . . . .'
    'foot . . . .';
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
  }

h1 {
    margin: 0;
    margin-bottom: .25rem;
  }
  

.header {
    font-family: "AkzidenzGroteskRegular";
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    background-color: white;
    grid-area: head;
}

#alternate-style {
    float: left;
}

nav {
    font-family: "IBMPlexSansText";
    line-height: 1.2em;
    font-size: 0.8em;
    float: left;
    background-color:rgba(255, 255, 255, 0.8);
    grid-area: head2;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    display: inline;
  }
  
  a:hover {
    color: #61e244;
  }
  
  .footer {
    float: left;
    font-size: 1rem;
    color: #212121;
    background-color: white;
    grid-area: foot;
  }

/* Style for draggable image script, this effects the mouse pointer*/

.draggable:hover {
    cursor: move;
    cursor: -moz-move;
    cursor: -webkit-move;
    z-index: 1;
  }
  
  /* Fonts */
  
  @font-face {
    font-family: "AkzidenzGroteskRegular";
    src: url(../fonts/AkzidenzGroteskBE-Regular.otf);
  }
  
  @font-face {
    font-family: "AkzidenzGroteskBold";
    src: url(../fonts/AkzidenzGroteskBE-Bold.otf);
  }
  
  @font-face {
    font-family: "IBMPlexSansText";
    src: url(../fonts/IBMPlexSans-Text.otf);
  }
  
  @font-face {
    font-family: "IBMPlexMono";
    src: url(../fonts/IBMPlexMono-Regular.otf);
  }