html {
    height: 100%;
  }
  
  body {
    font-family: "IBMPlexSansText";
    color: #1d1d1d;
    background-color: #efefef;
    min-height: 100vh;
    min-width: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    margin-left: 2rem;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  }
  
  .header {
    font-family: "AkzidenzGroteskBold";
    font-size: 1.5em;
    letter-spacing: -5px;
    width: 0px;
  }
  
  button {
    width: 60px;
    height: 50px;
    display: inline-block;
    color: #1d1d1d;
    background-color: #efefef;
    font-family: "AkzidenzGroteskRegular";
  }
  
  pre {
    width: 100%;
    overflow: auto;
    margin-top: -9rem;
    font-family: "IBMPlexMono";
    font-size: 0.5rem;
  }
  
  .paragraph {
    font-family: "IBMPlexSansText";
    line-height: 1.2em;
    font-size: 0.8em;
    width: 20%;
    padding-top: 2rem;
    padding-right: 2rem;
  }
  
  nav {
    font-family: "IBMPlexSansText";
  line-height: 1.2em;
  font-size: 1.2em;
  width: 20%;
  height: 20%;
  }
  
.navigation {
  width: 20%;
}

  nav a {
    width: 20%;
    height: 20%;
  }
  
  p {
    max-width: 50%;
    max-height: 50%;
    width: 50%;
    height: 20%;
  line-height: 1.2rem;
  }
  
  img {
    width: 10%;
    height: 10%;
    margin: .125rem .125rem;
    flex-grow: 0;
  }
  
  img:hover {
    width: 25%;
    height: 25%;
  }
  
  video:hover {
    width: 30%;
    height: 30%;
  }
  
  video {
    width: 20%;
    height: 20%;
  }
  
  .alternateStyle {
    margin-right: 57rem;
    margin-bottom: 0.5rem;
    width: 20%;
  }
  
  a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  /* Style for draggable image script, this effects the mouse pointer*/
  
  .draggable:hover {
    cursor: move;
    cursor: -moz-move;
    cursor: -webkit-move;
    z-index: 1;
  }
  
  /* Fonts */
  
  @font-face {
    font-family: "AkzidenzGroteskRegular";
    src: url(../fonts/AkzidenzGroteskBE-Regular.otf);
  }
  
  @font-face {
    font-family: "AkzidenzGroteskBold";
    src: url(../fonts/AkzidenzGroteskBE-Bold.otf);
  }
  
  @font-face {
    font-family: "IBMPlexSansText";
    src: url(../fonts/IBMPlexSans-Text.otf);
  }

  @font-face {
    font-family: "IBMPlexMono";
    src: url(../fonts/IBMPlexMono-Regular.otf);
  }